-metadata.version = whoAmI.split(/[^\\\/]*[\\\/]src[\\\/]/)[1].split(/[\\\/]/)[0]
-metadata.Navbar = (metadata.Navbar ? (metadata.Navbar === 'false' ? false: true ) : true)
-metadata.Toc = (metadata.Toc ? (metadata.Toc === 'false' ? false: true ) : true)
-urlSnippet = (process.env.NODE_ENV === 'production' ? 'http://snippets.ariatemplates.com' : 'http://localhost:3000')

mixin doc
    div.doc(class=(metadata.CssClass||""))
        mixin replaceURL(content)

mixin toh
    -toh.splice(0,0,{}) //adding a first fake h1 element
    != headingTable(toh, ["toclevel", "toctext"])

mixin category(category)
    -category = category.split("_").map(function(x) { return x[0].toUpperCase() + x.substr(1) }).join(" ")
    li= category

mixin replaceURL(text)
    -text = text.replace(/%SNIPPETS_SERVER_URL%/igm, urlSnippet)
    != text

mixin includeNavBar(version)
    if version == 'next'
        include navigationbar/next.jade
    if version == 'latest'
        include navigationbar/latest.jade
    else if version == '1.3.4'
        include navigationbar/1.3.4.jade
    else if version == '1.3.5'
        include navigationbar/1.3.5.jade
    else if version == '1.3.6'
        include navigationbar/1.3.6.jade
    else if version == '1.3.7'
        include navigationbar/1.3.7.jade
    else if version == '1.4.1'
        include navigationbar/1.4.1.jade
    else if version == '1.4.2'
        include navigationbar/1.4.2.jade
    else if version == '1.4.3'
        include navigationbar/1.4.3.jade
    else if version == '1.4.4'
        include navigationbar/1.4.4.jade
    else if version == '1.4.5'
        include navigationbar/1.4.5.jade
    else if version == '1.4.6'
        include navigationbar/1.4.6.jade
    else if version == '1.4.7'
        include navigationbar/1.4.7.jade
    else if version == '1.4.8'
        include navigationbar/1.4.8.jade
    else if version == '1.4.9'
        include navigationbar/1.4.9.jade
    else if version == '1.4.10'
        include navigationbar/1.4.10.jade
    else if version == '1.4.11'
        include navigationbar/1.4.11.jade
    else if version == '1.4.12'
        include navigationbar/1.4.12.jade
    else if version == '1.4.13'
        include navigationbar/1.4.13.jade
    else if version == '1.4.14'
        include navigationbar/1.4.14.jade
    else if version == '1.4.15'
        include navigationbar/1.4.15.jade
    else if version == '1.4.16'
        include navigationbar/1.4.16.jade
    else if version == '1.4.17'
        include navigationbar/1.4.17.jade
    else if version == '1.5.1'
        include navigationbar/1.5.1.jade
    else if version == '1.5.2'
        include navigationbar/1.5.2.jade
    else if version == '1.5.3'
        include navigationbar/1.5.3.jade
    else if version == '1.5.4'
        include navigationbar/1.5.4.jade
    else if version == '1.6.1'
        include navigationbar/1.6.1.jade
    else if version == '1.6.2'
        include navigationbar/1.6.2.jade
    else if version == '1.6.3'
        include navigationbar/1.6.3.jade
    else if version == '1.6.4'
        include navigationbar/1.6.4.jade
    else if version == '1.6.5'
        include navigationbar/1.6.5.jade
    else if version == '1.6.6'
        include navigationbar/1.6.6.jade
    else if version == '1.6.7'
        include navigationbar/1.6.7.jade
    else if version == '1.6.8'
        include navigationbar/1.6.8.jade
    else if version == '1.6.9'
        include navigationbar/1.6.9.jade
    else if version == '1.7.1'
        include navigationbar/1.7.1.jade
    else if version == '1.7.2'
        include navigationbar/1.7.2.jade
    else if version == '1.7.3'
        include navigationbar/1.7.3.jade
    else if version == '1.7.4'
        include navigationbar/1.7.4.jade
    else if version == '1.7.5'
        include navigationbar/1.7.5.jade
    else if version == '1.7.6'
        include navigationbar/1.7.6.jade
    else if version == '1.7.7'
        include navigationbar/1.7.7.jade
    else if version == '1.7.8'
        include navigationbar/1.7.8.jade
    else if version == '1.7.9'
        include navigationbar/1.7.9.jade
    else if version == '1.7.10'
        include navigationbar/1.7.10.jade
    else if version == '1.7.11'
        include navigationbar/1.7.11.jade
    else if version == '1.7.12'
        include navigationbar/1.7.12.jade
    else if version == '1.7.13'
        include navigationbar/1.7.13.jade
    else if version == '1.7.14'
        include navigationbar/1.7.14.jade
    //-NEW_RELEASE_HERE


!!!5
html(lang='en')
    head
        title #{metadata.Title} - #{title}
        meta(charset='utf-8')
        link(href='/favicon.ico', type='image/ico', rel='shortcut icon')
        link(rel='stylesheet', href='/styles/all.css', type='text/css')
        link(rel='canonical', href='http://ariatemplates.com/usermanual/latest/#{fileName}')
        //if IE 7
            link(rel='stylesheet', href='/styles/versionselect.css', type='text/css')

        link(rel='stylesheet', href='../documentation.css', type='text/css')
        link(rel='stylesheet', href='http://ariatemplates.com/styles/snippets/highlight_skin.css', type='text/css')

        //if lt IE 9
            script(type='text/javascript', src='/js/iemap.js').
            script(src='//html5shiv.googlecode.com/svn/trunk/html5.js', type='text/javascript', charset='utf-8').
            style.
                .ie-hidden {display:none;}
        //if lt IE 8
            link(href='/styles/ie/ie7.css', rel='stylesheet', type='text/css')

        script(type='text/javascript', src='/js/top-scrolling.js').
        script(type='text/javascript', src='../follow-the-scroll-menu.js').

    body.documentation
        div#top
        header#header
            div.logo
                h5
                    a(href='/')
                        img(src='/images/logo-page.png', alt='Aria Templates')
            nav
                a.documentation(href='/documentation') Documentation
                a.blog(href='/blog') Blog
                a.forum(href='/forum') Forum
                a.plugins(href='/plugins') Plugins
                a.contribute(href='/contribute') Contribute
                a.about(href='/about') About
                a.download.button.green(href='/download') Download

        div.content-wrapper
            div#scrollMenu.up
                div
                    a(href='#top', onclick="smoothScroll('top');return false") Top
            section.content
                div.wrapper
                    div.columns.two.title
                        article.column
                            block content
                                if metadata && metadata.Title
                                    h1 #{metadata.Title}
                                if metadata && metadata.Category
                                    div.catlinks
                                        ul
                                            each cat in metadata.Category.split(",")
                                                mixin category(cat)
                                if metadata && metadata.Navbar
                                    nav.navigationbar
                                        div#dropdown.aligncenter.nav-main(tabindex="0")
                                            mixin includeNavBar(metadata.version)
                                    mixin doc()

                                    nav.navigationbar
                                        div.aligncenter.nav-main
                                            a(id="menu", href="/usermanual/" + metadata.version + "/") Main Table of Contents
                                    footer.ghIssuesLinkBox Found a mistake, typo, lacking documentation?&nbsp;
                                        a.ghIssuesLink(href="https://github.com/ariatemplates/usermanual/issues?state=open") Open a GitHub issue &gt;&gt;
                                else
                                    mixin doc()

                        aside.column.sidebar
                            include versionList
                            div
                              h4 Search
                              form(action="/usermanual/search/", method="get")
                                table.search-box
                                    tr
                                        td
                                            input#search-query(autocomplete="off",type="text",size="10",class="search-query",name="q",title="Search latest version of doc",spellcheck="false",placeholder="Search latest version of doc")
                                        td.search-button-cell
                                            input(type="submit",value="Search",class="search-button",title="search")

                            block sidebar

                            if toh && metadata && metadata.Toc
                                div#toc
                                    h4 Contents
                                    mixin toh()

        footer#footer
            section.content
                nav
                    section.documentation
                        h5
                            a(href='/documentation') Documentation
                        ul
                            li: a(href='/usermanual') User Manual
                            li: a(href='/aria/guide/apps/apidocs', target=' blank') Api Documentation
                            li: a(href='/guides') Guides
                            li: a(href='/faq') FAQ
                    section.discuss
                        h5
                            a(href='/discuss') Discuss
                        ul
                            li: a(href='/blog') Blog
                            li: a(href='/forum') Forum
                            li: a(href='/blog/category/news') Latest News
                    section.contribute
                        h5
                            a(href='/contribute') Contribute
                        ul
                            li: a(href='http://github.com/ariatemplates') Source Code
                            li: a(href='http://github.com/ariatemplates/ariatemplates/issues') Bugs tracking
                            li: a(href='/contribute/documentation') Documentation
                    section.contact
                        h5
                            a(href='/about') About
                        ul
                            li: a(href='/about/contact') Contact
                            li: a(href='/about/team') The Team
            section.content.legal &copy; 2012 Aria Templates is licensed under Apache 2.0 license. See our
                a(href='/license') licensing page

        script(type='text/javascript').
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-29575860-1']);
            _gaq.push(['_setDomainName', 'ariatemplates.com']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
